<!DOCTYPE html>
<html ng-app="closestCorgi">
<head>
	<title>Closest Corgi</title>
	<link rel="shortcut icon" href="http://i709.photobucket.com/albums/ww97/CiscoDr1982/corgi.gif" />

	<link rel="stylesheet" href="styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="controllers.js"></script>
</head> 
<body bgcolor="#ffe8f9">

 <h1> Find the Closest Corgi you can adopt! </h1> <br>
 <center>
<img src="http://67.media.tumblr.com/avatar_aad958059dd6_128.png"</img></center>
<center>
<div ng-controller="corgiController">
	<form name="zipcodeForm" novalidate>

			<input type="text" name="zipcode" placeholder="Enter Zipcode" 
			ng-init="inputVal=''" 
			ng-model="zipcode">

			<button type='submit' ng-click="inputVal = ''; fetch(); " value="Send"> Submit Location </button>

	</form>
			<br>

		<div class="container-fluid">
		<div ng-repeat="pic in data.pics filter:search | filter:filterFn">
		<b>{{pic.name.$t}}</b>

		<br>
			
			
			<img class ="pups" ng-src='{{pic.media.photos.photo[8].$t}}'>
			<div style="width:250px;height:100px;line-height:3em;overflow:scroll;padding:5px;background-color:#FCFADD;color:#714D03;border:4px double #DEBB07;">
			
			    {{pic.description.$t}}
		</div>
			
	</div>
			<!-- corgi list will be input in the expression below -->
</div>

</center>
</body>
</html>


<!-- - 
- get data from api
- display data using controllers/views in angular
- [routes that do different things] 
- how to pass to back end after capturing value-->
